# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
crash.log

# Terraform secrets / local values
terraform/terraform.tfvars
terraform/*.auto.tfvars
# Terraform saved plans
*.tfplan
**/tfplan

# Ansible secrets
ansible/inventory/hosts.ini
ansible/**/*vault*
*.retry

# SSH
*.pem
*.key
id_rsa
id_ed25519

# OS / editors
.DS_Store
.vscode/

# Environment secrets
.env
.env.*

# Ansible local inventory
ansible/inventory/hosts.yml

# Local Python environment
.venv/

# Ansible local secrets
ansible/vars/database-secrets.yml
