APP_ENV={{ atticladderph_env.APP_ENV }}
SMTP_HOST={{ atticladderph_env.SMTP_HOST }}
SMTP_PORT={{ atticladderph_env.SMTP_PORT }}
SMTP_USERNAME={{ atticladderph_env.SMTP_USERNAME }}
SMTP_PASSWORD={{ atticladderph_env.SMTP_PASSWORD }}
SMTP_SSL={{ atticladderph_env.SMTP_SSL }}
SMTP_TLS={{ atticladderph_env.SMTP_TLS }}
SMTP_FROM={{ atticladderph_env.SMTP_FROM }}
SMTP_TO={{ atticladderph_env.SMTP_TO }}
SMTP_REPLY_TO={{ atticladderph_env.SMTP_REPLY_TO }}
RECAPTCHA_SITE_KEY={{ atticladderph_env.RECAPTCHA_SITE_KEY }}
RECAPTCHA_SECRET_KEY={{ atticladderph_env.RECAPTCHA_SECRET_KEY }}
ADMIN_TOTP_SECRET={{ atticladderph_env.ADMIN_TOTP_SECRET }}
